@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500;700&display=swap');

:root {
  --primary-background: #ddd6fe;
  --primary-color: #5b21b6;
  --heading-font: 'Megrim', cursive;
  --primary-font: 'Advent Pro', sans-serif;
  --secondary-font: 'Aclonica', sans-serif;
}

main,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--primary-background);
  color: var(--primary-color);
}

.navigation {
  background-color: var(--primary-color);
  color: white;
}

.navigation h1 {
  margin: 0;
  padding: 1.5rem;
  font-family: var(--heading-font);
}

.navigation .list-non-bullet {
  list-style: none;
  text-align: right;
}

.navigation .nav-list {
  padding-bottom: 0.25rem;
}

.navigation .list-item {
  display: inline;
}

.navigation .nav-link {
  text-decoration: none;
  color: white;
  padding: 0.75rem 1rem;
}

.selected {
  font-weight: bolder;
}

.container {
  width: 60vw;
  margin: auto;
  text-align: center;
}

label,
input {
  display: block;
}

label {
  margin: 0.5rem auto;
  font-size: 1rem;
}

input {
  margin: 0.5rem auto;
  padding: 1rem 2rem;
  width: 50%;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.6rem;
  margin: 0.5rem;
  font-size: 1rem;
}

.quiz-form {
  text-align: left;
}

.question-container {
  padding: 0.75rem;
}

.quiz-form input,
.quiz-form label {
  display: inline;
  width: auto;
  padding: 0rem 0.75rem;
}

.quiz-btns {
  text-align: center;
}

.quiz-btns #btn-reset {
  color: var(--primary-color);
  background-color: white;
}

.output {
  font-size: 1.5rem;
}

.footer {
  margin: auto;
  margin-top: 5rem;
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  padding: 0.25rem;
}

.footer .social {
  list-style: none;
  padding-inline-start: 0;
}

.footer .list-item {
  display: inline;
  padding: 0.5rem 1.5rem;
}

.footer .social-link {
  text-decoration: none;
}

.footer .link-image {
  max-width: 2.5rem;
}
